body {
  background-image: url(bg.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

.t {
  background: linear-gradient(to right, #ffffff, rgb(63,63,63)) ;
  color: black;
  border-radius: 15px 20px;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  font-family: fantasy;
  opacity: 0.7;
}

.text {
  background: linear-gradient(to top, black, rgb(141,0,0)) ;
  color: white;
  font-size: 25px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 1;
  font-family: fantasy;
   box-shadow: 
  0 0 20px #660000,
  0 0 45px #000000,
  0 0 50px #000000,
  0 0 70px #510000,
  0 0 90px #510000;
}

.masuk {
  opacity: 0;
  animation: msook 4s forwards;
}

@keyframes msook {
  from {
  opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  background: linear-gradient(to right, black, #3c3c3c);
  border-radius: 20px;
  font-size: 15px;
  margin: 0;
  padding: 20px 25px;
  color: white;
  font-family: fantasy;
  box-shadow: 
  0 0 10px black,
  0 0 25px black,
  0 0 30px black,
  0 0 50px black,
  0 0 70px black;
}

.body {
  background: black;
}
.container {
  display: grid;
  place-items: center; /* Menengah secara horizontal & vertikal sekaligus */
  height: 90vh;
}

  .h1 {
    font-family: fantasy;
    color: white;
    font-size: 20px;
  }
  
  .p {
    color: maroon;
    font-size: 10px;
    opacity: 0.7;
  }